/*-------------------------------------------------------------------------------
 1. Colors
-------------------------------------------------------------------------------*/

$blue:              #4169e1;
$indigo:            #6610f2;
$purple:            #9200ee;
$pink:              #ff5e94;
$sky:               #00D4BD;
$red:               #fe0000;
$orange:            #fa5b0f;
$yellow:            #f6e84e;
$green:             #66B95C;
$teal:              #58d8a3;
$olive:             #666d41;
$cyan:              #57c7d4;
$brown:             #ff9800;
$black:             #333333;
$white:             #e5e5e5;
$white-smoke:       #f2f7f8;
$violet:            #41478a;
$darkslategray:     #2e383e;
$dodger-blue:       #3498db;
$cadet-blue:        #5e9e9f;
$crimson:           #e54b4b;

$theme-colors: ();

.waxon_tm_settings .colors li a.blue{background-color: $blue;}
.waxon_tm_settings .colors li a.green{background-color: $green;}
.waxon_tm_settings .colors li a.brown{background-color: $brown;}
.waxon_tm_settings .colors li a.pink{background-color: $pink;}
.waxon_tm_settings .colors li a.orange{background-color: $orange;}
.waxon_tm_settings .colors li a.black{background-color: $black;}
.waxon_tm_settings .colors li a.white{background-color: $white;}
.waxon_tm_settings .colors li a.purple{background-color: $purple;}
.waxon_tm_settings .colors li a.sky{background-color: $sky;}
.waxon_tm_settings .colors li a.cadetBlue{background-color: $cadet-blue;}
.waxon_tm_settings .colors li a.crimson{background-color: $crimson;}
.waxon_tm_settings .colors li a.olive{background-color: $olive;}
.waxon_tm_settings .colors li a.red{background-color: $red;}

/*-------------------------------------------------------------------------------
-------------------------------------------------------------------------------*/

