head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
    meta(name="description" content="jeffreyallanbrown | Full-Stack Web Developer")
    meta(name="author" content="Jeffrey Allan Brown")
    title
        |jeffreyallanbrown | Full-Stack Web Developer
    link(href="../assets/css/bootstrap.min.css" rel="stylesheet")
    link(href="../assets/css/animsition.min.css" rel="stylesheet")
    link(href="../assets/css/owl.carousel.min.css" rel="stylesheet")
    link(href="../assets/css/owl.theme.default.min.css" rel="stylesheet")
    link(href="../assets/css/socicon.css" rel="stylesheet")
    link(href="../assets/css/ionicons.min.css" rel="stylesheet")
    link(href="../assets/css/animate.min.css" rel="stylesheet")
    link(href="../assets/css/jquery.fancybox.min.css" rel="stylesheet")
    link(href="../assets/css/jquery.pagepiling.css" rel="stylesheet")
    link(href="../assets/css/style.css" rel="stylesheet")
    icon(rel="apple-touch-icon" sizes="180x180" href="favicon/apple-touch-icon.png")
    link(rel="icon" type="image/png" sizes="32x32" href="favicon/favicon-32x32.png")
    link(rel="icon" type="image/png" sizes="16x16" href="favicon/favicon-32x32.png")
    link(rel="manifest" href="favicon/site.webmanifest")
    meta(name="msapplication-TileColor" content="#da532c")
    meta(name="theme-color" content="#ffffff")